.login {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: fit-content;
  margin: 5rem auto;
}
.login h1{
  font-family: "Rajdhani", sans-serif;
}
.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 50px auto;
  gap: 0.7rem;
}

.auth-form input {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid gray;
}

.auth-form button {
  padding: 0.8rem;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
