.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 50px auto;
  gap: 10px;
}

.auth-form input {
  padding: 10px;
  font-size: 16px;
}

.auth-form button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
